<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="sourceServer" value="MERCURY002"/>
    <add key="destServer" value="JUPITER001"/>
    <add key="sourcePS" value="BAC*"/>
    <add key="destPS" value="ET"/>
    <add key="sourceNameFilter" value="*"/>
    <add key="destNameFilter" value="*"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="pireplayServiceSource" switchName="defaultSwitch">
        <listeners>
          <add name="eventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="PIReplay Service"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="defaultSwitch" value="Information"/>
    </switches>
  </system.diagnostics>
</configuration>